---
import "../styles/global.css";
import "../styles/custom.css";
import Layout from "../layouts/Layout.astro";
import SpaceCenter from "@/components/SpaceCenter.astro";
import Title from "@/components/Title.astro";
import ProjectsShowcase from "@/components/project-cards/ProjectsShowcase.astro";
---

<Layout>
  <div class="fixed top-0 -z-0">
    <SpaceCenter />
  </div>
  <Title />
  <div class="h-[150vh]"></div>
  <ProjectsShowcase />
</Layout>
